In [2]:
import psycopg2
import pandas

In [6]:
connection = psycopg2.connect(host='localhost', user='postgres', database='ass_db', password='TOBIloba12.', port=5432)

In [41]:
connection = psycopg2.connect(host='localhost', user='postgres', database='ass_db', password='TOBIloba12.', port=5432)
try:
    create_table =  """                  
             CREATE TABLE data_cen_414(
                 ID INT PRIMARY KEY NOT NULL,
                 Country TEXT NOT NULL,
                 y2009 INT NOT NULL,
                 y2010 INT NOT NULL,
                 y2011 INT NOT NULL,
                 y2012 INT NOT NULL,
                 y2013 INT NOT NULL,
                 y2014 INT NOT NULL,
                 y2015 INT NOT NULL,
                 y2016 INT NOT NULL,
                 y2017 INT NOT NULL,
                 y2018 INT NOT NULL,
                 y2019 INT NOT NULL     
             )
         """ 
    cur = connection.cursor()
    cur.execute(create_table)
    connection.commit()
except psycopg2.errors.DuplicateTable:
    pass
connection.rollback()

data = pandas.read_csv('C:\cendata.csv')
        
def input_values(data):
    # add values to table
    try:
        for (index, row) in data.iterrows():
            insert_table = f'''insert into data(Country,y2009,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018, y2019)
            VALUES('{index + 1}', '{row['Country'].replace("", "")}', '{row['y2009']}', '{row['y2010']}','{row['y2011']}','{row['y2012']}'
            ,'{row['y2013']}','{row['y2014']}','{row['y2015']}','{row['y2016']}','{row['y2017']}','{row['y2018']}','{row['y2019']}')
            '''

            cur.execute(insert_table)

        conn.commit()
    except psycopg2.errors.UniqueViolation:
        print('data already exist, add new data')
        pass

input_values(data)    
    
cur.close()
connection.close()

UndefinedColumn: column "country" of relation "data" does not exist
LINE 1: insert into data(Country,y2009,y2010,y2011,y2012,y2013,y2014...
                         ^

In [45]:
connection = psycopg2.connect(host='localhost', user='postgres', database='ass_db', password='TOBIloba12.', port=5432)
try:
    create_table =  """                  
             CREATE TABLE ASS_DATA(
                 ID INT PRIMARY KEY NOT NULL,
                 Country TEXT NOT NULL,
                 y2009 INT NOT NULL,
                 y2010 INT NOT NULL,
                 y2011 INT NOT NULL,
                 y2012 INT NOT NULL,
                 y2013 INT NOT NULL,
                 y2014 INT NOT NULL,
                 y2015 INT NOT NULL,
                 y2016 INT NOT NULL,
                 y2017 INT NOT NULL,
                 y2018 INT NOT NULL,
                 y2019 INT NOT NULL     
             )
         """ 
    cur = connection.cursor()
    cur.execute(create_table)
    connection.commit()
except psycopg2.errors.DuplicateTable:
    pass
connection.rollback()

data = pandas.read_csv('C:\cendata.csv')
        
def input_values(data):
    # add values to table
    try:
        for (index, row) in data.iterrows():
            insert_table = f'''insert into ass_data(id,country,y2009,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018, y2019)
            VALUES('{index + 1}', '{row['Country'].replace("'", "")}', '{row['y2009']}', '{row['y2010']}','{row['y2011']}','{row['y2012']}'
            ,'{row['y2013']}','{row['y2014']}','{row['y2015']}','{row['y2016']}','{row['y2017']}','{row['y2018']}','{row['y2019']}')
            '''

            cur.execute(insert_table)

        connection.commit()
    except psycopg2.errors.UniqueViolation:
        print('data already exist, add new data')
        pass

input_values(data)    
    
cur.close()
connection.close()